.section-image {
    background-repeat: no-repeat;
    height: 100%;
    width: 100%
}

.section-name {
    text-align: center;
}

.publication-image {
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.last-publication {
    display: flex;
    justify-content: space-around;
}

.post-avatar {
    max-width: 100%;
    max-height: 100%;
}

.post-image-content {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0;
    border: none;
}

.post-image-content img {
    max-width: 100%;
    max-height: 100%;
}

.post-text-content {
    text-align: justify;
    border: none;
    padding: 0.5em;
}

.card-avatar {
    margin-bottom: 1em;
    text-align: justify;
    border: none;
}

.card-time {
    text-align: right;
}

.post-frames {
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: column;
}

.post-card-block {
    flex: 1;
}