.section-image {
    background-repeat: no-repeat;
    height: 100%;
    width: 100%
}

.section-name {
    text-align: center;
}

.publication-image {
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.last-publication {
    display: flex;
    justify-content: space-around;
}