{% extends 'base.html' %}
{% load static %}
{% get_media_prefix %}

{% block content %}
    <div class="mainheading">
        <h1 class="sitetitle">Nataly Blog</h1>
        <p class="lead">Harni Ohta Daybook</p>
    </div>

    <div>
        <section class="featured-posts">
            <div class="section-title">
                <h2><span>Разделы / Категории</span></h2>
            </div>
            <div class="card-columns listfeaturedtag">
                {% for section in sections %}
                    <div class="card">
                        <div class="row">
                            <div class="col-md-7 wrapthumbnail">
                                <a href="/posts/1">
                                    <img class="section-image" src="{{ section.avatar.url }}"/>
                                </a>
                            </div>
                            <div class="col-md-5">
                                <div class="card-block section-name">
                                    <h2 class="card-title">
                                        <a href="/publications">{{ section.name }}</a>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>

    <div>
        <section class="last-publications">
            <div class="section-title">
                <h2><span>Последние публикации</span></h2>
            </div>
            <div class="last-publication listrecent">
                <div class="row no-gutters">
                    {% for publication in publications %}
                        <div class="card col-md-4">
                            <a href="/posts/{{ publication.id }}">
                                <img class="publication-image" src="{{ publication.avatar.url }}"/>
                            </a>
                            <div class="card-block">
                                <h2 class="card-title"><a
                                        href="/posts/{{ publication.id }}">{{ publication.title }}</a></h2>
                                <h4 class="card-text">{{ publication.annotation }}</h4>
                                <div class="metafooter">
                                    <div class="wrapfooter">
                                        <span class="post-date">{{ publication.created_at|date:'H:i d.m.Y' }}</span>
                                        <span class="post-read-more"><a href="/posts/{{ publication.id }}"
                                                                        title="Прочитать публикацию"><svg
                                                class="svgIcon-use"
                                                width="25"
                                                height="25"
                                                viewBox="0 0 25 25"><path
                                                d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z"
                                                fill-rule="evenodd"/></svg></a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
{% endblock content %}