{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="post-page">
        <section class="section-title">
            <h2><span>Публикация</span></h2>
        </section>

        <div>
            <div class="post-section-title">
                <h4>{{ post.title }}</h4>
            </div>

            <div class="row post-description">
                <div class="col-8">
                    <img class="post-avatar" src="{{ post.avatar.url }}" alt="{{ post.avatar.name }}"/>
                </div>
                <div class="col-4">
                    <p>{{ post.annotation }}</p>
                    <p>{{ post.created_at|date:'H:i d.m.Y' }}</p>
                </div>
            </div>
        </div>

        {% for content in contents %}
            {% if content.type == 'IMG' %}
                <div class="post-image-content">
                    <img src="{{ content.image.url }}" alt="{{ content.image.name }}"/>
                </div>
            {% else %}
                <div class="post-text-content">
                    <p>{{ content.text }}</p>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="post-last-publications-section">
        <div class="post-section-title">
            <section class="section-title">
                <p><span>Последние публикации по разделу "{{ post.section.name }}"</span></p>
            </section>
        </div>

        <div class="related-section-posts">
            <div class="row">
                {% for related_post in related_posts %}
                    <div class="col-4">
                        <div class="related-post">
                            <a href="/posts/{{ related_post.id }}">
                                <img class="related-post-image" src="{{ related_post.avatar.url }}"/>
                            </a>
                            <div class="post-block">
                                <div class="post-card-title">
                                    <h4><a
                                            href="/posts/{{ related_post.id }}">{{ related_post.title }}</a></h4>
                                    <p class="card-text">{{ related_post.annotation }}</p>
                                </div>
                                <div class="metafooter">
                                    <div class="wrapfooter">
                                        <span class="post-date">{{ related_post.created_at|date:'H:i d.m.Y' }}</span>
                                        <span class="post-read-more"><a href="/posts/{{ related_post.id }}"
                                                                        title="Прочитать публикацию"><svg
                                                class="svgIcon-use"
                                                width="25"
                                                height="25"
                                                viewBox="0 0 25 25"><path
                                                d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z"
                                                fill-rule="evenodd"/></svg></a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}