{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="post-page">
        <section class="section-title">
            <h2><span>Статья: {{ post.title }}</span></h2>
        </section>


        <div class="card card-avatar">
            <div class="row post-description">
                <div class="col-md-4">
                    <p>{{ post.annotation }}</p>
                    <p class="card-time">{{ post.created_at|date:'d.m.Y' }}</p>
                </div>
                <div class="col-md-8">
                    <img class="post-avatar" src="{{ post.avatar.url }}" alt="{{ post.avatar.name }}"/>
                </div>
            </div>
        </div>

        {% for content in contents %}
            {% if content.type == 'IMG' %}
                <div class="card post-image-content">
                    <img src="{{ content.image.url }}" alt="{{ content.image.name }}"/>
                </div>
            {% else %}
                <div class="card post-text-content">
                    <p>{{ content.text }}</p>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    {% if related_posts %}
        <div>
            <section class="last-publications">
                <div class="section-title">
                    {% if post.section is null %}
                        <h4><span>Последние публикации по разделу &laquo;Другое&raquo;</span></h4>
                    {% else %}
                        <h4><span>Последние публикации по разделу &laquo;{{ post.section.name }}&raquo;</span></h4>
                    {% endif %}
                </div>
                <div class="last-publication listrecent">
                    <div class="row">
                        {% for post in related_posts %}
                            <div class="col-md-4 post-frames">
                                <div class="card">
                                    <a href="/posts/{{ post.id }}">
                                        <img class="publication-image" src="{{ post.avatar.url }}"
                                             alt="{{ post.avatar.name }}"/>
                                    </a>
                                    <div class="card-block post-card-block">
                                        <p class="card-title"><span><a
                                                href="/posts/{{ post.id }}">{{ post.title }}</span></a></p>
                                        <div class="metafooter">
                                            <div class="wrapfooter">
                                                <span class="post-date">{{ post.created_at|date:'H:i d.m.Y' }}</span>
                                                <span class="post-read-more"><a href="/posts/{{ post.id }}"
                                                                                title="Прочитать публикацию"><svg
                                                        class="svgIcon-use"
                                                        width="25"
                                                        height="25"
                                                        viewBox="0 0 25 25"><path
                                                        d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z"
                                                        fill-rule="evenodd"/></svg></a></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>
    {% endif %}
{% endblock content %}